[Desktop Entry]
Name=Close Window Active
Comment=A screen edge action with close active window
Icon=preferences-system-windows-script-test

X-Plasma-API=javascript
X-Plasma-MainScript=main.js

X-KDE-PluginInfo-Author=zccrs
X-KDE-PluginInfo-Email=zccrs@live.com
X-KDE-PluginInfo-Name=closewindowaction
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service

X-KWin-Border-Activate=true
