[Desktop Entry]
Type=Application
Name=Multitasking View
Name[bg]=Многозадачен изглед
Name[bs]=Multitasking pregled
Name[ca]=Visualització multitasca
Name[cs]=Zobrazení multitaskingu
Name[da]=Multitasking synsvinkel
Name[de]=Arbeitsflächenübersicht
Name[en_CA]=Multitasking View
Name[en_GB]=Multitasking View
Name[es]=Vista de multitarea
Name[et]=Tööalade ülevaade
Name[fi]=Moniajonäkymä
Name[fr]=Vue multitâche
Name[gl]=Vista multitarefa
Name[hi]=सभी खिड़किया देखे
Name[hr]=Višezadaćni pogled
Name[hu]=Többfeladatos nézet
Name[it]=Vista multitasking
Name[ko]=멀티태스킹 보기
Name[lb]=Multitasking Perspektive
Name[ms]=Paparan Tugas Berbilang
Name[nb]=Vis arbeidsområder
Name[nl]=Multitasking weergave
Name[nn]=Multitasking visning
Name[pl]=Widok wielozadaniowy
Name[pt]=Vista multi-tarefa
Name[pt_BR]=Visualização multitarefa
Name[ru]=Многозадачный вид
Name[sk]=Multitaskingový pohľad
Name[sl]=Pokaži vsa okna
Name[sv]=Multitaskingvy
Name[tr]=Çoklu Görev Görünümü
Name[uk]=Багатозадачний вид
Name[zh_CN]=多任务视图
Name[zh_TW]=多工檢視
Comment=View all open windows and workspaces
Comment[bg]=Прегледа на всички прозорци и на работните плотове
Comment[bs]=Pregledajte sve otvorene prozore i radne površine
Comment[ca]=Visualitza totes les finestres i àrees de treball
Comment[cs]=Zobrazit všechna okna a pracovní plochy
Comment[da]=Se alle åbne vinduer og arbejdsområder
Comment[de]=Alle offenen Fenster und alle Arbeitsflächen anzeigen
Comment[en_CA]=View all open windows and workspaces
Comment[en_GB]=View all open windows and workspaces
Comment[es]=Ver todas las ventanas y áreas de trabajo
Comment[et]=Kõikide avatud akende ja tööalade vaatamine
Comment[fi]=Näytä kaikki avoimet ikkunat ja työtilat
Comment[fr]=Afficher toutes les fenêtres ouvertes et les espaces de travail
Comment[gl]=Ver todas as xanelas abertas e os espazos de traballo
Comment[hi]=सभी वर्त्तमान खिड़किया और कार्यस्थल देखे
Comment[hr]=Prikaži sve otvorene prozore i radne prostore
Comment[hu]=Az összes nyitott ablak és munkaterület mutatása
Comment[it]=Visualizza tutte le finestre aperte e le aree di lavoro
Comment[ko]=모든 창과 작업 공간 보기
Comment[lb]=All oppen Fënsteren an Aarbechtsflächen uweisen
Comment[lt]=Rodyti visus atvertus langus ir visus darbastalius
Comment[ms]=Lihat semua tetingkap terbuka dan ruang kerja
Comment[nb]=Vis alle åpne vinduer og arbeidsområder
Comment[nl]=Toon alle open vensters en werkbladen
Comment[nn]=Vis alle opne vindauge og arbeidsområde
Comment[pl]=Pokaż wszystkie otwarte okna i pulpity
Comment[pt]=Ver todas as janelas e ambientes de trabalho
Comment[pt_BR]=Ver todas as janelas e áreas de trabalho abertas
Comment[ru]=Просмотр всех открытых окон и рабочих областей
Comment[sk]=Ukázať všetky otvorené okná a plochy
Comment[sl]=Pregled vseh odprtih oken in površin
Comment[sq]=Shfaqi të gjitha dritaret e hapura dhe hapësirat e punës
Comment[sv]=Visa alla öppna fönster och arbetsytor
Comment[tr]=Tüm açık pencereleri ve çalışma alanlarını göster
Comment[uk]=Переглянути всі відкриті вікна та робочі простори
Comment[zh_CN]=查看所有打开的窗口和工作区
Comment[zh_TW]=檢視所有開啟的視窗與工作區
GenericName=Multitasking View
Icon=deepin-multitasking-view
Terminal=false
Categories=GNOME;GTK;System;
Exec=dbus-send --session --dest=com.deepin.wm --print-reply /com/deepin/wm com.deepin.wm.PerformAction int32:1
OnlyShowIn=Deepin;
X-AppStream-Ignore=true
