[Desktop Entry]
Name=Deepin Light
X-KDE-PluginInfo-Author=deepin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=shule1987@qq.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=deepin
X-KDE-PluginInfo-Version=1.0
