[Desktop Entry]
Name=Deepin Dark
X-KDE-PluginInfo-Author=Deepin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=shule1987@qq.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=deepin-dark
X-KDE-PluginInfo-Version=1.0
